html {
    --background: #0e0118;
    --heading: #f7f7f7;
    --text: #b8b8b8;
    --accent: #3699C7;
    --secondary: #16719b;
}

@font-face {
    font-family: "Rockwell";
    src: url("../assets/rockwell.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../assets/poppins.ttf");
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--text);
    background: var(--background);
    font-family:Poppins, 'Segoe UI', sans-serif;
    font-size: 14pt;
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    box-sizing: border-box;
    z-index: 999;
}

/* Heading */
.header {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40%;
    position: relative;
}

#heading-image {
    width: 100%;
    margin: 0% 0% 20px;
    filter: drop-shadow(0px 0px 10px var(--secondary));
}

#heading-image:hover {
    filter: drop-shadow(0px 0px 20px var(--accent));
    transition: filter 0.2s;
}

.links {
    display: contents;
}

.links a {
    margin-right: 10px;
}

#canvas-container {
    position: absolute;
}

.p5Canvas {
    z-index: -999;
}

#shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 200px 100px var(--background), 0px 0px 200px var(--background);
}

@media screen and (max-height: 600px) {
    .header {
        display: block;
        margin-top: 10%;
        margin-bottom: 10%;
        height: auto;
    }
    #shadow-overlay {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .container {
        margin-left: 10%;
        margin-right: 10%;
    }
    .links a{
        display: block;
        margin-bottom: 10px;
    }
    .header {
        margin-right: 0%;
    }
    #shadow-overlay {
        display: none;
    }
}

/* Main Content */
p {
    font-size: 16pt;
}
a {
    color: var(--accent);
    text-decoration: none;
    text-shadow: 0px 0px 10px var(--secondary);
    
    cursor: pointer;
    transition: all 0.15s;
    font-family: Poppins;
    font-weight: 200;
}
a:hover {
    color: var(--heading);
    text-shadow: 0px 0px 20px var(--text);
}
hr {
    border: 0;
    height: 1px;
    background: var(--secondary);
    margin: 20px 0;
    box-shadow: 0px 0px 10px var(--secondary);
}
h1 {
    font-family: "Rockwell";
    font-weight: lighter;
    text-shadow: 0px 0px 20px var(--accent);
    font-size: 50pt;
    transition: all 0.15s;
    color: var(--heading);
}
h1:hover {
    text-shadow: 0px 0px 40px var(--text);
}
@media screen and (max-width: 800px) {
    h1 {
        font-size: 30pt;
    }
}

/* Cards */
.card-grid{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap:50px;
    width:100%;
}
@media screen and (max-width: 800px) {
    .card-grid{
        gap: 20px;
    }
}

.card{
    color:var(--text);
    background-color: var(--background);
    transition:all 0.2s;
    border-radius:5px;
    border: 2px solid var(--secondary);
    display:block;
    z-index:0;
    height:100%;
    box-sizing: border-box;
    position:relative;
    top: 0px;
    left: 0px;
}
.card:hover {
    /*box-shadow:0px 0px 20px var(--secondary);*/
    top: -10px;
    left: -10px;
    box-shadow:10px 10px 0px 0px #052d47;
}
.card::before {
    content: "";
    position: absolute;
    z-index: -100;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.card:hover::before {
    top: 12px;
    left: 12px;
}
.card .card-img{
    width:calc(100% + 4px);
    height:150px;
    border-radius: 5px 5px 0px 0px;
    background-size:cover;
    background-position:center;
    border: 2px solid var(--secondary);
    box-sizing: border-box;
    left:-2px;
    top:-2px;
    position:relative;
    transform: all 0.5s;
}
.card-body {
    padding: 15px;
}
.card-body p{
    color: var(--text);
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14pt;
}
.card-body a{
    display:block;
    background-color:transparent;
    font-size: 18pt;
    /*font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}

/* Footer */
.footer {
    color: var(--secondary);
    background-image: url("../assets/background.png");
}